<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Gambrinus - Admin Panel</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display:300,400,700,800|Open+Sans:300,400,700" rel="stylesheet" />

		<link rel="stylesheet" href="/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/animate.css" />
		<link rel="stylesheet" href="/css/owl.carousel.min.css" />

		<link rel="stylesheet" href="/css/magnific-popup.css" />
		<link rel="stylesheet" href="/css/aos.css" />

		<link rel="stylesheet" href="/css/bootstrap-datepicker.css" />
		<link rel="stylesheet" href="/css/jquery.timepicker.css" />

		<link rel="stylesheet" href="/fonts/ionicons/css/ionicons.min.css" />
		<link rel="stylesheet" href="/fonts/fontawesome/css/font-awesome.min.css" />

		<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css" />

		<!-- Theme Style -->
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<div class="site-wrap">
			<div class="main-wrap">
				<div class="cover_1 cover_sm">
					<div class="section">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-8" data-aos="fade-up">
									<div class="card-body">
										<div class="text-center">
											<h4 class="text-monospace mb-4">Welcome Back <%= user %>!</h4>
											<h4 class="text-monospace mb-4">what you willing to do?</h4>
											<div class="form-row">
												<div class="form-group col-md-6">
													<a href="#" class="btn btn-primary" role="button">Edit homepage</a>
												</div>
												<div class="form-group col-md-6">
													<a href="edit_products" class="btn btn-primary" role="button">Edit Products</a>
												</div>
											</div>
											<div class="form-row">
												<div class="form-group col-md-6">
													<a href="add_product" class="btn btn-primary" role="button">Add Product</a>
												</div>
												<div class="form-group col-md-6">
													<a class="btn btn-danger center" role="button" href="/logout">Logout</a>
												</div>
											</div>
										</div>
										<%- include('partials/footer'); %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="/js/jquery-3.2.1.min.js"></script>
		<script src="/js/jquery-migrate-3.0.1.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/owl.carousel.min.js"></script>
		<script src="/js/aos.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>
