<link rel="stylesheet" href="/assets/css/Footer-Basic.css" />
<footer class="bg-black sticky-footer">
	<div class="container my-auto">
		<div class="text-center my-auto copyright">
			<!-- <script
				type="text/javascript"
				src="https://www.counters-free.net/count/9a3p"
			></script>
			<br />
			<a href="https://thesiswritingservice.net/">thesiswritingservice.net</a>
			<script
				type="text/javascript"
				src="https://whomania.com/ctr?id=c074c0d8d0e11509153bd1992a3bca71c51b2b93"
			></script> -->
			<span><strong>© Gambrinus 2021</strong> </span>
		</div>
	</div>
</footer>
