<link rel="stylesheet" href="/assets/css/Footer-Basic.css" />
<footer class="bg-black sticky-footer">
	<div>
		&copy;
		<span id="copyright">
			<script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
		</span>
		Gambrinus
	</div>
</footer>
