<link rel="stylesheet" href="/assets/css/Footer-Basic.css">
<footer class="bg-black sticky-footer">
    <div class="container my-auto">
        <div class="text-center my-auto copyright"><span><strong>© Gambrinus 2021</strong> </span></div>
    </div>
</footer>