<script src="/scripts/site/script/main.js"></script>
<script src="/scripts/dist/accessibility.min.js"></script>
<div class="dropdown" style="text-align: center">
	<button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button" style="background: var(--red)">Language</button>
	<div class="dropdown-menu" style="text-align: center">
		<a class="dropdown-item" href="/" style="text-align: center">עברית</a><a class="dropdown-item" href="/russian" style="text-align: center">Русский</a
		><a class="dropdown-item" href="/english" style="text-align: center">English</a>
	</div>
	<br />
	<br />
</div>
