<div class="dropdown">
	<button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button" style="background: var(--red)">Language</button>
	<div class="dropdown-menu" style="text-align: center">
		<a class="dropdown-item" href="/menu-hebrew" >עברית</a>
        <a class="dropdown-item" href="/menu-russian" >Русский</a
		><a class="dropdown-item" href="/menu-english" >English</a>
	</div>
</div>